@CHARSET "UTF-8";

@IMPORT
	url("http://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico|Dancing+Script|Pinyon+Script")
	;

.header-text {
	font-family: "Pacifico", cursive, arial;
	font-size: 20px;
	font-weight: bold;
}

.menu-style {
	margin-top: 10px;
}

.background-color-green {
	background-color: green;
}

.no-margin-bottom{
	margin-bottom: 0px; 

	}
.glyphicon,.background-color-green li.active a:focus,.background-color-green a:hover
	{
	color: green;
}

.background-color-green a {
	color: white;
}

/* .main-container {
	width: 1000px;
} */
.border-color-green {
	border-color: green;
	border-style: solid;
	border-width: 1px;
}

.no-border{
	border-width: 0px;
}
.absolute-pop {
	z-index: 1;
	position: absolute;
}

.no-radius {
	border-radius: inherit;
}

.border-thick-top {
	border-top-width: 7px;
}

.border-thick-bottom {
	border-bottom-width: 7px;
}

.calibri {
	font-style: calibri;
}

.carousel-caption {
	color: green;
	left: 54%;
	right: 10%;
	top: 0;
}

.carousel-indicators li {
	border-color: green;
}

.carousel-indicators .active {
	background-color: green;
}

.overflow-auto {
	overflow: auto;
}

.hight-inherit {
	height: 100% !important;
}

.height-150 {
	height: 300px;
}

.height-50 {
	height: 101px;
}

.height-200 {
	height: 400px;
}

img.col-md-3 {
	padding-bottom: 10px;
	padding-top: 10px;
}

.well.well-lg {
	background-color: inherit;
	border-radius: inherit;
}

.margin-top30 {
	margin-top: 29px;
}

.margin-top15 {
	margin-top: 0px;
}

#menu-item.nav>li>a:hover,#menu-item.nav>li>a:focus,#menu-item.nav li.active a{
	background-color: #B9F68D;
	color:green;
}
#menu-item.nav>li a{
	color:#B9F68D;
}

.live-slide {
	padding: 15px;
}

#main-container {
	margin-top: 20px;
}

#menu-item.nav>li {
	border-bottom: 0px;
}

#menu-item.nav a {
	padding-left: 25px;
	padding-right: 25px;
}

#menu-item.nav {
	border-bottom: 1px solid green;
}

.no-padding {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.container {
	font-weight: bold;
	background-color: #ffffff;
}

.padding {
	padding: 10px;
}

.bgcolor-white{
	background-color: white;
}